div {
        font-family: "Avenir Next";
}
/*.app-header {
    height: 60px;
    line-height: 60px;
    border-bottom: lightgrey solid;
    justify-content: center;
}*/
icon {
    position: relative;
  /* Adjust these values accordingly */
    top: 5px;
    left: 5px;
    vertical-align: middle;
}
#app-header-title {
    font-size: 2em;
    display: inline-block;
    padding-left: 30px;
    padding-right: 10px;
    "flex-direction: row;
    font-family: "Avenir Next";
    vertical-align: middle;

    color: #003547;
}

ul {
    align-content: center;
}

/* Color Theme Swatches in Hex */
.tangerine-1-hex { color: #003547; }
.tangerine-2-hex { color: #005E54; }
.tangerine-3-hex { color: #C2BB00; }
.tangerine-4-hex { color: #E1523D; }
.tangerine-5-hex { color: #ED8B16; }
